:root {
    --blanco: rgb(255, 255, 255);
    --verde: rgb(126, 247, 103);
    --rojo: rgb(255, 0, 27);
}
html {
    font-size: 62.5%;
}
div {
    height: 400px;
    position: relative;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-color: rgb(126, 247, 103);
}

.titulo {
    text-align: center;
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 0, 27);
}
.inst {
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.product {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}